.home {
    display: flex;
    height: 100%;
    flex-direction: column;

    .homePage {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    
        // WELCOME TITLE
        .welcomeTitle {
            position: absolute;
            align-self: center;
            text-align: center;
            margin-top: 20px;
        }
    
        // HOME LOGO
        .homeLogo {
            position: absolute;
            align-self: center;
            // border: -50px solid green;
            top: 200px;
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }

        // FRIENDS
        .friends {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 10px;
            width: 20%;
            height: 90%;
            margin-top: 20px;
            margin-right: 20px;
        
            .paragraphOnlineFriends {
                margin: 20px;
                text-align: center;
                font-size: 20px;
            }
        
            .friend {
                display: flex;
                position: relative;
                align-items: center;
                border-top: 1px solid #2d2d30;
                padding: 15px;
                transition: 0.3s;
        
                .messageSend {
                    color: #414141;
                    display: flex;
                    justify-content: center;
                    vertical-align: baseline;
                    position: absolute;
                    right: 10px;
                }
        
                .profileName {
                    position: absolute;
                    left: 50px;
                    margin-left: 10px;
                }
        
                .profilePicture {
                    height: 32px;
                    width: 32px;
                    border-radius: 50%;
                }
            }
            .friend:hover {
                background-color: #2d2d30;
            }
        }
    }
}