.home {
    display: flex;
    height: 100%;
    flex-direction: column;

    .homePage {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        .centerPage {
            position: relative;
            display: flex;
            margin: auto;
            width: 500px;
            max-width: 90%;
            min-width: 50%;
            height: 100%;
            flex-direction: column;
            .sendPost {
                top: 20px;
                display: flex;
                align-items: center;
                position: relative;
                .input {
                    border-radius: 20px;
                    width: 100%;
                    padding: 15px;
                    border: none;
                    background-color: #f0f0f0;
                    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
                    transition: transform .3s;
                    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
                    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
                }
                .input:focus {
                    outline: none;
                    transform: scale(1.005);
                }

                .icon {
                    position: absolute;
                    right: 20px;
                    transition: all .7s ease-in-out;
                }
                .icon:hover {
                    cursor: pointer;
                    color: #b22222 ;
                    transform: rotate(360deg);
                }
            }
            .postsContainer {
                position: relative;
                top: 50px;
                .post {
                    width: calc(100% - 20px);
                    border-radius: 10px;
                    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                    padding: 10px;
                    margin-bottom: 10px;
                    .user {
                        display: flex;
                        align-items: center;
                        .avatar {
                            width: 40px;
                            height: 40px;
                        }
                        .right {
                            display: flex;
                            margin-left: 5px;
                            flex-direction: column;
                            .timeAgo {
                                font-size: 13px;
                            }
                            .username {
                                font-weight: 600;
                            }
                        }
                        
                    }
                    hr {
                        margin: 10px 0 10px 0;
                    }
                    
                    .opinion {
                        display: flex;
                        align-items: center;
                        .likeIcon {
                            transition: .3s;
                        }
                        .likeIcon:hover {
                            cursor: pointer;
                            color: #838383 !important;
                        }
                        .likedIcon {
                            transition: .3s;
                            color: #0571ed !important;
                        }
                        .likedIcon:hover {
                            cursor: pointer;
                        }
                        .commentInput {
                            padding: 10px;
                            margin-left: 10px;
                            border-radius: 20px;
                            border: none;
                            background-color: #f0f0f0;
                            min-width: 100px;
                            width: 25%;
                            transition: width .3s;
                        }
                        .commentInput:focus {
                            outline: none;
                            width: 40%;
                        }
                    }
                }
            }
            
        }
        
    }
}