.title {
    margin-bottom: 20px;
}

.profile {
    width: 75%;
    height: 20%;
    margin: auto;
    border-radius: 10px;
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .baseContainer {
        display: flex;
        height: 100px;
        .testImg {
            background-color: green;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .usernameContainer {
            margin-left: 30px;
            margin-top: auto;
            margin-bottom: auto;
            .username {
                font-size: 20px;
                font-weight: 800;
            }
            .userIdContainer {
                display: flex;
                .copyId {
                    text-decoration: underline;
                    text-transform: uppercase;
                    cursor: pointer;
                    display: flex;
                    
                }
                .helpIconUserId {
                    color: rgb(125, 125, 125);
                    margin: 0;
                    margin-left: 5px;
                    align-self: center;
                }
            }
            
            .copyMessage {
                position: absolute;
            }
        }
    }
    .editableItem {
        position: relative;
        top: 10px;
        height: 50px;
        .itemTitle {
            font-variant: small-caps;
        }
        .showEmail {
            color: rgb(0, 162, 255);
            text-decoration: underline;
            cursor: pointer;
        }
        p {
            position: relative;
            left: 20px;
        }
        .editBtn {
            background-color: #797979;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            border: none;
            border-radius: 10px;
            width: 50px;
            height: 30px;
            color: white;
            float: right;
            align-self: center;
            cursor: pointer;
            transition: all .3s;
        }
        .editBtn:hover {
            background-color: #5f5d5d;
        }
    }
}