.searchPage {
    align-self: center;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 20px;
    border-radius: 20px;
    // box-shadow: -1px 1px 10px -4px rgba(0,0,0,0.75);
    // -webkit-box-shadow: -1px 1px 10px -4px rgba(0,0,0,0.75);
    // -moz-box-shadow: -1px 1px 10px -4px rgba(0,0,0,0.75);
    // align-items: center;
    .searchInput {
        align-self: center;
        width: 60%;
        position: relative;
        padding: 15px;
        margin: 10px 0px;
        color: #333;
        // background-color: inherit;
        border: none;
        border-radius: 10px;
        background-color: #f0f0f0;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
        -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
        transition: .3s;
    }
    .searchInput:focus {
        outline: none;
    }

    .searchUser {
        position: relative;
        margin: 20px;
        margin-top: 40px;
        border-radius: 10px;
        .user {
            transition: .7s;
            padding: 10px;
        }
    }
    .searchUser:hover {
        background-color: rgb(34, 34, 34);
        cursor: pointer;
    }
}