button:focus {
    background-color: orange;
}

.signupForm {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 50px;
    .loginTextInput {
        position: relative;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 20px;
        border: none;
        min-width: 30%;
        max-width: 80%;
    }
    .loginButtonInput {
        position: relative;
        border-radius: 20px;
        padding: 20px;
        border: none;
        width: 20%;
    }
    .loginButtonInput:focus {
        background-color: orange;
    }
    .error {
        color: red;
        margin-top: 20px;
    }
    .success {
        color: rgb(4, 170, 26);
        margin-top: 20px;
    }
    .noAcc {
        top: 100px;
    }
}

.title {
    position: relative;
    align-self: center;
    text-align: center;
    margin-top: 20px;
}
