.leftBar {
    // height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
}

.leftbarList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.leftBar .separator {
    margin: 10px 30px;
    border-top: 1px solid rgb(126, 126, 126);
}

.leftbarList .leftbarListItem, .leftbarProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px 15px;
    margin: 2px 3px;
    text-decoration: none;
}

.leftbarList .leftbarListItem:hover {
    cursor: pointer;
    background-color: #252525;
}
.leftbarList .leftbarListItem:hover > span {
    color: white;
}
.leftbarList .leftbarListItem:hover > .icon {
    color: white;
}

.leftbarList .leftbarListItem .icon, .leftbarProfile .icon {
    transition: 0.3s;
    color: #414141;
    font-size: 20px;
}

.leftbarList .leftbarListItem span, .leftbarProfile span {
    transition: 0.3s;
    color: #5a5a5a;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
}