.requests {
    position: relative;
    top: 20px;
    width: 75%;
    height: 20%;
    margin: auto;
    border-radius: 10px;
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    flex-direction: column;
}