* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(120deg, #232323, #262629);
    // background-color: #2c2c2c; //#252526;
}

h1, h2, h3, p, a {
    color: #e9e9e9;
}

#app {
    height: 100%;
}

.checkAuth {
    margin: 50px;
    color: white;
}