.loginContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 50px;
    background-color: rgba(255, 255, 255, 0.267);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.5);
    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 50%;
        max-width: 70%;
        width: 100%;
        .loginTitle {
            position: relative;
            align-self: center;
            text-align: center;
            margin: 20px;
        }
        .loginTextLabel {
            color: rgb(185, 185, 185);
            margin-bottom: 5px;
            align-self: flex-start;
        }
        .loginTextInput {
            position: relative;
            margin-bottom: 10px;
            border-radius: 20px;
            padding: 20px;
            background-color: inherit;
            border: 2px solid rgb(61, 61, 61);
            color: white;
            width: calc(100% - 40px);
            height: calc(1em);
            transition: .3s;
        }
        .loginTextInput:focus {
            outline: none;
            border: 2px solid rgb(28, 135, 235);
        }

        .loginButtonInput {
            position: relative;
            border-radius: 20px;
            margin-top: 20px;
            padding: 20px;
            border: none;
            color: white;
            background: linear-gradient(95deg, rgb(51, 145, 233), rgb(24, 107, 241));
            width: 100%;
        }
        
        .error {
            color: red;
            margin-top: 20px;
        }
        .noAcc {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input {
        width: 100%;
        margin-top: 0;
    }
}
