.loginForm {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 50px;
    .loginTextInput {
        position: relative;
        margin-bottom: 10px;
        border-radius: 20px;
        padding: 20px;
        border: none;
        width: 20%;
    }
    .loginButtonInput {
        position: relative;
        border-radius: 20px;
        padding: 20px;
        border: none;
        width: 20%;
    }
}

.title {
    position: relative;
    align-self: center;
    text-align: center;
    margin-top: 20px;
}
